# Alaska Berry Futures
### Community berry harvest 2016-18

Data from ADFG: http://www.adfg.alaska.gov/sb/CSIS/index.cfm?ADFG=harvInfo.resourceCatData    
February 8, 2023

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
working_directory = os.getcwd()

veg0 =  pd.read_excel(working_directory + "\\commharv-vegetation-2013.xls")
veg1 =  pd.read_excel(working_directory + "\\commharv-vegetation-2014.xls")
veg2 =  pd.read_excel(working_directory + "\\commharv-vegetation-2015.xls")
veg3 =  pd.read_excel(working_directory + "\\commharv-vegetation-2016.xls")#, encoding='cp1252')
veg4 =  pd.read_excel(working_directory + "\\commharv-vegetation-2017.xls")
veg5 =  pd.read_excel(working_directory + "\\commharv-vegetation-2018.xls")
pd.options.display.max_columns = None

In [3]:
pd.options.display.max_rows = 50

In [4]:
veg = pd.concat([veg0, veg1, veg2, veg3, veg4, veg5])

In [5]:
veg.head()

,Project_ID,Project_Name,Study_Year,Community_Code,Community_Name,Resource_Code,Resource_Name,Species_Flag,Percent_Using,Percent_Attempting_to_Harvest,Percent_Harvesting,Percent_Receiving,Percent_Giving,Reported_Pounds_Harvested,Estimated_Total_Pounds_Harvested,Lower_Pounds_Harvested,Upper_Pounds_Harvested,Mean_Pounds_Per_Household,Percapita_Pounds_Harvested,Conversion_Units_To_Pounds,Resource_Harvest_Units,Number_Of_Resource_Harvested,Estimated_Amount_Harvested,Ninety_Five_Percent_CI_OF_Harvest,Lower_Harvested_Amount,Upper_Harvested_Amount,Percent_Of_Total_Harvest,Top_OneHundreth_Percentile_User_Grams_Per_Day,Top_NinetyFifth_Percentile_User_Grams_per_Day,Top_Fiftieth_Percentile_User_Grams_per_Day,Ninety_Five_Percent_CI_Of_Use_Grams_Per_Day,Ninety_Five_Percent_CI_Of_Use_Pounds,Mean_Grams_Per_Capita_Use,Mean_Pounds_Per_Capita_Use,Mean_Grams_Percapita_Harvest,ResCatCD,Memo
0,228,Chuckchi CIAP,2013,110,Deering,600000000,Vegetation,2,0.938,0.813,0.750,0.594,0.531,1385.1,1988.7,1640.6775,2336.72240,45.2,15.552136,NaN,lb.,483.6,1988.7,0.175,1640.6775,2336.72240,0.023,NaN,NaN,NaN,25.026680,20.138756,20.615288,16.588945,19.326832,600000000,NaN
1,228,Chuckchi CIAP,2013,114,Diomede,600000000,Vegetation,2,0.680,0.480,0.480,0.440,0.200,445.1,697.6,445.1000,975.94240,17.9,8.768333,NaN,lb.,143.6,697.6,0.399,445.1000,975.94240,0.029,NaN,NaN,NaN,21.926235,17.643854,16.024288,12.894608,10.896516,600000000,NaN
2,205,Donlin Creek (Phase IV),2013,121,Eek,600000000,Vegetation,2,0.969,0.875,0.859,0.484,0.438,4934.8,7051.7,7041.6714,7061.80600,78.4,20.301903,NaN,lb.,164406.3,7051.7,0.128,2348.2556,2355.92200,0.083,NaN,NaN,NaN,29.863144,24.030617,26.043276,20.956802,25.229424,600000000,NaN
3,218,Susitna-Watana Hydro (Copper Basin),2013,145,Glennallen,600000000,Vegetation,2,0.870,0.818,0.818,0.428,0.454,1247.5,2288.8,1821.8849,2755.71530,16.3,5.966298,NaN,lb.,726.0,2288.8,0.204,1821.8849,2755.71530,0.061,74.873420,27.339672,3.961146,10.260834,8.256808,8.522287,6.857814,7.414392,600000000,NaN
4,218,Susitna-Watana Hydro (Copper Basin),2013,149,Gulkana,600000000,Vegetation,2,0.896,0.793,0.793,0.517,0.517,361.7,418.8,361.7000,500.46597,12.6,4.045231,NaN,lb.,180.1,418.8,0.195,361.7000,500.46597,0.028,31.378487,9.941699,4.970849,6.704614,5.395146,5.610556,4.514767,5.027059,600000000,NaN

In [6]:
veg= veg.groupby(['Community_Name','Resource_Name'])['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested'].sum().reset_index()

<ipython-input-6-1e9b1a8bc206>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  veg= veg.groupby(['Community_Name','Resource_Name'])['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested'].sum().reset_index()

In [7]:
berries=[
    'Berries',
    'Bearberry',
    'Blueberry',
    'Cloud Berry',
    'Crowberry',
    'Currants',
    'Elderberry',
    'Gooseberry',
    'High Bush Cranberry',
    'Huckleberry',
    'Low Bush Cranberry',
    'Nagoonberry',
    'Other Wild Berry',
    'Respberry',
    'Salmonberry',
    'Soapberry',
    'Strawberry',
    'Thimbleberry',
    'Twisted Stalk Berry (Watermelon Berry)',
    'Wild Rose Hips'
]

In [8]:
veg[veg['Resource_Name'].isin(berries)].groupby(['Resource_Name','Community_Name'])[
    'Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household',
    'Percapita_Pounds_Harvested'].sum(
    )[90:130]#.reset_index()#.to_excel('Berries by AK community 2015-18.xlsx', index=False)

<ipython-input-8-8d12c13aa003>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  veg[veg['Resource_Name'].isin(berries)].groupby(['Resource_Name','Community_Name'])[

                               Reported_Pounds_Harvested  \
Resource_Name Community_Name
Blueberry     Glennallen                          549.20
              Gulkana                             178.20
              Healy                               298.00
              Hoonah                             2258.00
              Hughes                               54.50
              Kaltag                              282.50
              King Cove                           778.25
              Klukwan                             352.00
              Kotzebue                           1779.30
              Lake Louise                         126.00
              Larsen Bay                            0.25
              Mendeltna                           112.50
              Nanwalek                            893.00
              Nelchina                            182.00
              Nenana                              917.80
              Nikiski                             757.30
              Northway                           1570.00
              Nuiqsut                              33.30
              Old Harbor                           24.00
              Paxson                              234.20
              Pilot Point                          58.00
              Pilot Station                      1092.50
              Point Hope                           89.30
              Port Graham                         766.00
              Port Heiden                          77.00
              Quinhagak                           879.00
              Rampart                              10.00
              Sand Point                          391.75
              Scammon Bay                         427.50
              Seldovia                           2470.80
              Shageluk                            258.00
              Shishmaref                          334.50
              Sitka                              1374.60
              Stebbins                            676.30
              Stevens Village                      20.00
              Tanana                              477.80
              Tatitlek                            156.00
              Tazlina                             646.20
              Tolsona                              90.00
              Tonsina                             124.50

                               Estimated_Total_Pounds_Harvested  \
Resource_Name Community_Name
Blueberry     Glennallen                            1011.700000
              Gulkana                                210.000000
              Healy                                  858.800000
              Hoonah                                9173.125000
              Hughes                                  71.300000
              Kaltag                                 353.125000
              King Cove                             1470.978000
              Klukwan                                469.300000
              Kotzebue                              7031.900000
              Lake Louise                            176.400000
              Larsen Bay                               0.357143
              Mendeltna                              157.500000
              Nanwalek                               924.900000
              Nelchina                               293.200000
              Nenana                                1664.300000
              Nikiski                               5849.100000
              Northway                              2083.800000
              Nuiqsut                                 61.900000
              Old Harbor                              53.600000
              Paxson                                 322.000000
              Pilot Point                             78.500000
              Pilot Station                         1503.600000
              Point Hope                             151.000000
              Port Graham                           1139.200000
              Port Heiden                             99.814810
              Quinhagak                             1306.400000
              Rampart                                 18.600000
              Sand Point                             740.834170
              Scammon Bay                            618.600000
              Seldovia                              3303.000000
              Shageluk                               287.800000
              Shishmaref                             550.900000
              Sitka                                15226.300000
              Stebbins                              1061.600000
              Stevens Village                         20.000000
              Tanana                                 668.900000
              Tatitlek                               210.600000
              Tazlina                                994.200000
              Tolsona                                135.000000
              Tonsina                                211.100000

                               Mean_Pounds_Per_Household  \
Resource_Name Community_Name
Blueberry     Glennallen                        7.200000
              Gulkana                           6.300000
              Healy                             2.300000
              Hoonah                           35.281250
              Hughes                            2.100000
              Kaltag                            5.885416
              King Cove                         8.552197
              Klukwan                          14.600000
              Kotzebue                          8.500000
              Lake Louise                      12.600000
              Larsen Bay                        0.011905
              Mendeltna                        11.200000
              Nanwalek                         15.900000
              Nelchina                         10.100000
              Nenana                            6.800000
              Nikiski                           3.700000
              Northway                         28.500000
              Nuiqsut                           0.600000
              Old Harbor                        0.800000
              Paxson                           29.200000
              Pilot Point                       3.400000
              Pilot Station                    11.700000
              Point Hope                        0.900000
              Port Graham                      19.600000
              Port Heiden                       2.851852
              Quinhagak                         8.100000
              Rampart                           1.400000
              Sand Point                        3.878713
              Scammon Bay                       5.000000
              Seldovia                         26.000000
              Shageluk                          9.900000
              Shishmaref                        3.900000
              Sitka                             5.100000
              Stebbins                          7.900000
              Stevens Village                   5.000000
              Tanana                            7.400000
              Tatitlek                          7.800000
              Tazlina                           8.200000
              Tolsona                          11.200000
              Tonsina                           5.400000

                               Percapita_Pounds_Harvested
Resource_Name Community_Name
Blueberry     Glennallen                         2.637332
              Gulkana                            2.028748
              Healy                              0.853868
              Hoonah                            12.463485
              Hughes                             0.789855
              Kaltag                             2.373950
              King Cove                          2.789426
              Klukwan                            7.333334
              Kotzebue                           2.356812
              Lake Louise                        6.631579
              Larsen Bay                         0.005319
              Mendeltna                          4.687500
              Nanwalek                           4.004484
              Nelchina                           3.872340
              Nenana                             2.850155
              Nikiski                            1.371830
              Northway                          10.753426
              Nuiqsut                            0.149103
              Old Harbor                         0.263736
              Paxson                            10.184783
              Pilot Point                        1.234043
              Pilot Station                      2.400428
              Point Hope                         0.205258
              Port Graham                        7.669352
              Port Heiden                        0.962500
              Quinhagak                          1.782962
              Rampart                            0.476190
              Sand Point                         1.456320
              Scammon Bay                        0.985261
              Seldovia                          11.878604
              Shageluk                           3.394737
              Shishmaref                         0.892969
              Sitka                              1.933933
              Stebbins                           1.854103
              Stevens Village                    2.000000
              Tanana                             3.277703
              Tatitlek                           2.824139
              Tazlina                            2.821273
              Tolsona                            5.625000
              Tonsina                            2.349057

In [9]:
veg[veg['Resource_Name'].isin(berries)].groupby(['Resource_Name'])['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested'].sum()[:50]

<ipython-input-9-fe606259141c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  veg[veg['Resource_Name'].isin(berries)].groupby(['Resource_Name'])['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested'].sum()[:50]

,Reported_Pounds_Harvested,Estimated_Total_Pounds_Harvested,Mean_Pounds_Per_Household,Percapita_Pounds_Harvested
Resource_Name,,,,
Bearberry,36.5000,53.460563,0.425352,0.197825
Berries,123163.6000,312918.052030,1859.080737,618.266700
Blueberry,30432.6500,80012.627986,511.780578,188.731074
Cloud Berry,29397.2250,47347.149228,374.127396,89.014759
Crowberry,20372.0000,32756.771173,292.260396,81.128767
Currants,1447.0750,5561.839876,17.589931,6.777285
Elderberry,374.8000,1741.800000,3.692308,1.415835
Gooseberry,117.0000,438.364356,1.739604,0.606804
High Bush Cranberry,3516.4500,7840.998133,76.455984,33.152275
Huckleberry,2805.2000,29023.500000,24.323077,8.997165
Low Bush Cranberry,9162.1750,19801.822503,153.463047,55.798209
Nagoonberry,2298.5000,7000.861819,20.737898,6.352076
Other Wild Berry,225.2750,648.860288,6.872199,2.987635
Salmonberry,17365.5500,63689.806150,251.251972,91.544925
Soapberry,75.4500,100.526923,2.919231,1.469725
Strawberry,2022.6750,6754.300287,32.050395,13.711435
Thimbleberry,96.3000,414.750000,1.437500,0.513018
Twisted Stalk Berry (Watermelon Berry),153.8625,922.973214,1.229271,0.477036
Wild Rose Hips,909.5250,2372.694903,18.183311,7.415124

In [10]:
Berries = veg[veg['Resource_Name']=='Berries'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

Blueberry = veg[veg['Resource_Name']=='Blueberry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

Cloudberry =veg[veg['Resource_Name']=='Cloud Berry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()
 
Lingonberry = veg[veg['Resource_Name']=='Low Bush Cranberry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

RoseHips = veg[veg['Resource_Name']=='Wild Rose Hips'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

Salmonberry = veg[veg['Resource_Name']=='Salmonberry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

Crowberry = veg[veg['Resource_Name']=='Crowberry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

Currants = veg[veg['Resource_Name']=='Currants'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

In [11]:
BerryMapData = pd.DataFrame(Berries['Community_Name'])

In [12]:
BerryMapData.head()

   Community_Name
0          Akhiok
1  Anaktuvuk Pass
2        Anderson
3     Birch Creek
4        Buckland

In [13]:
BerryMapData = pd.merge(BerryMapData, Cloudberry[['Community_Name','Percapita_Pounds_Harvested']],
                        on= 'Community_Name',how='left')
BerryMapData = BerryMapData.rename(columns={'Percapita_Pounds_Harvested':'RUBCHA_PerCapita'})


BerryMapData = pd.merge(BerryMapData, RoseHips[['Community_Name','Percapita_Pounds_Harvested']],
                        on= 'Community_Name',how='left')
BerryMapData = BerryMapData.rename(columns={'Percapita_Pounds_Harvested':'ROSACI_PerCapita'})


BerryMapData = pd.merge(BerryMapData, Salmonberry[['Community_Name','Percapita_Pounds_Harvested']],
                        on= 'Community_Name',how='left')
BerryMapData = BerryMapData.rename(columns={'Percapita_Pounds_Harvested':'RUBSPE_PerCapita'})


BerryMapData = pd.merge(BerryMapData, Crowberry[['Community_Name','Percapita_Pounds_Harvested']],
                        on= 'Community_Name',how='left')
BerryMapData = BerryMapData.rename(columns={'Percapita_Pounds_Harvested':'CROW_PerCapita'})


BerryMapData = pd.merge(BerryMapData, Currants[['Community_Name','Percapita_Pounds_Harvested']],
                        on= 'Community_Name',how='left')
BerryMapData = BerryMapData.rename(columns={'Percapita_Pounds_Harvested':'CURRANT_PerCapita'})

In [14]:
BerryMapData.head()

,Community_Name,RUBCHA_PerCapita,ROSACI_PerCapita,RUBSPE_PerCapita,CROW_PerCapita,CURRANT_PerCapita
0,Akhiok,0.552632,0.526316,7.947374,0.526316,NaN
1,Anaktuvuk Pass,NaN,NaN,1.097059,0.742647,NaN
2,Anderson,NaN,0.254237,NaN,0.036017,0.050847
3,Birch Creek,0.000000,0.000000,NaN,0.000000,NaN
4,Buckland,3.175545,NaN,NaN,2.644068,NaN

In [15]:
BerryMapData['Berries_Percapita_Pounds_Harvested'] = Berries['Percapita_Pounds_Harvested'].copy()
BerryMapData['VACULI_Percent_of_Harvested'] = Blueberry['Percapita_Pounds_Harvested'].astype(float) / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float) * 100
BerryMapData['VACVIT_Percent_of_Harvested'] = Lingonberry['Percapita_Pounds_Harvested'].astype(float) / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)* 100
BerryMapData['RUBCHA_Percent_of_Harvested'] = BerryMapData['RUBCHA_PerCapita'].astype(float,errors = 'ignore') / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)*100
BerryMapData['ROSACI_Percent_of_Harvested'] = BerryMapData['ROSACI_PerCapita'].astype(float,errors = 'ignore') / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)*100
BerryMapData['RUBSPE_Percent_of_Harvested'] = BerryMapData['RUBSPE_PerCapita'].astype(float,errors = 'ignore') / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)*100
BerryMapData['CROW_Percent_of_Harvested'] = BerryMapData['CROW_PerCapita'].astype(float,errors = 'ignore') / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)*100
BerryMapData['CURRANT_Percent_of_Harvested'] = BerryMapData['CURRANT_PerCapita'].astype(float,errors = 'ignore') / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)*100

In [16]:
BerryMapData = BerryMapData.drop(columns=['RUBCHA_PerCapita','ROSACI_PerCapita','RUBSPE_PerCapita',
                                         'CROW_PerCapita','CURRANT_PerCapita'])

In [19]:
BerryMapData.to_excel('AK subsistence.xlsx', index=False)

In [17]:
BerryMapData[['CURRANT_Percent_of_Harvested']]

    CURRANT_Percent_of_Harvested
0                            NaN
1                            NaN
2                       1.299577
3                            NaN
4                            NaN
..                           ...
60                      1.693372
61                           NaN
62                           NaN
63                           NaN
64                      7.451084

[65 rows x 1 columns]