# Alaska Berry Futures
### Community berry harvest 2016-18

Data from ADFG: http://www.adfg.alaska.gov/sb/CSIS/index.cfm?ADFG=harvInfo.resourceCatData    
February 8, 2023

In [18]:
import pandas as pd
import os
import numpy as np

In [19]:
working_directory = os.getcwd()


veg1 =  pd.read_excel(working_directory + "\\commharv-vegetation-2014.xls")
veg2 =  pd.read_excel(working_directory + "\\commharv-vegetation-2015.xls")
veg3 =  pd.read_excel(working_directory + "\\commharv-vegetation-2016.xls")#, encoding='cp1252')
veg4 =  pd.read_excel(working_directory + "\\commharv-vegetation-2017.xls")
veg5 =  pd.read_excel(working_directory + "\\commharv-vegetation-2018.xls")
pd.options.display.max_columns = None

In [20]:
pd.options.display.max_rows = 50

In [21]:
veg = pd.concat([veg1, veg2, veg3, veg4, veg5])

In [22]:
veg.head()

,Project_ID,Project_Name,Study_Year,Community_Code,Community_Name,Resource_Code,Resource_Name,Species_Flag,Percent_Using,Percent_Attempting_to_Harvest,Percent_Harvesting,Percent_Receiving,Percent_Giving,Reported_Pounds_Harvested,Estimated_Total_Pounds_Harvested,Lower_Pounds_Harvested,Upper_Pounds_Harvested,Mean_Pounds_Per_Household,Percapita_Pounds_Harvested,Conversion_Units_To_Pounds,Resource_Harvest_Units,Number_Of_Resource_Harvested,Estimated_Amount_Harvested,Ninety_Five_Percent_CI_OF_Harvest,Lower_Harvested_Amount,Upper_Harvested_Amount,Percent_Of_Total_Harvest,Top_OneHundreth_Percentile_User_Grams_Per_Day,Top_NinetyFifth_Percentile_User_Grams_per_Day,Top_Fiftieth_Percentile_User_Grams_per_Day,Ninety_Five_Percent_CI_Of_Use_Grams_Per_Day,Ninety_Five_Percent_CI_Of_Use_Pounds,Mean_Grams_Per_Capita_Use,Mean_Pounds_Per_Capita_Use,Mean_Grams_Percapita_Harvest,ResCatCD,Memo
0,235,Alaska LNG,2014,12,Anaktuvuk Pass,600000000,Vegetation,2,0.755,0.698,0.698,0.189,0.245,878.5,1676.5,1099.7839,2253.2160,16.9,5.279570,NaN,lb.,226.4,1676.5,0.344,1099.7839,2253.2160,0.013,66.277990,12.737802,2.485425,11.698266,9.413494,8.693307,6.995430,6.560987,600000000,NaN
1,235,Alaska LNG,2014,55,Utqiagvik (Barrow),600000000,Vegetation,2,0.429,0.178,0.162,0.347,0.147,486.2,2975.3,809.2815,5141.3184,1.9,0.559835,NaN,lb.,139.4,2975.3,0.728,809.2815,5141.3184,0.002,8.077630,1.404674,0.000000,2.668173,2.147056,1.623333,1.306282,0.695714,600000000,NaN
2,242,EVOS Update 2014 (PWS),2014,82,Chenega,600000000,Vegetation,2,0.917,0.750,0.667,0.583,0.333,371.0,526.5,371.0000,734.4675,31.0,14.866691,NaN,lb.,102.9,526.5,0.395,371.0000,734.4675,0.058,27.339672,21.958462,21.958462,27.919212,22.466350,20.154568,16.218208,18.475020,600000000,NaN
3,242,EVOS Update 2014 (PWS),2014,104,Cordova,600000000,Vegetation,2,0.875,0.826,0.804,0.451,0.424,5240.5,27280.2,20432.8700,34127.5300,28.7,10.483615,NaN,lb.,1406.6,27280.2,0.251,20432.8700,34127.5300,0.090,145.086670,21.182205,21.182205,18.523558,14.905748,14.889276,11.981274,13.028117,600000000,NaN
4,210,Alaska Peninsula Index Communities,2014,122,Egegik,600000000,Vegetation,2,0.006,0.006,0.005,0.001,0.001,146.3,184.1,146.3000,316.2838,7.4,2.583333,NaN,lb.,44.3,184.1,0.718,146.3000,316.2838,0.017,47.223070,4.349493,0.000000,9.277068,7.465178,5.836982,4.696969,3.210340,600000000,NaN

In [23]:
veg= veg.groupby(['Community_Name','Resource_Name'])['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested'].sum().reset_index()

<ipython-input-23-1e9b1a8bc206>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  veg= veg.groupby(['Community_Name','Resource_Name'])['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested'].sum().reset_index()

In [24]:
berries=[
    'Berries',
    'Bearberry',
    'Blueberry',
    'Cloud Berry',
    'Crowberry',
    'Currants',
    'Elderberry',
    'Gooseberry',
    'High Bush Cranberry',
    'Huckleberry',
    'Low Bush Cranberry',
    'Nagoonberry',
    'Other Wild Berry',
    'Respberry',
    'Salmonberry',
    'Soapberry',
    'Strawberry',
    'Thimbleberry',
    'Twisted Stalk Berry (Watermelon Berry)',
    'Wild Rose Hips'
]

In [25]:
veg[veg['Resource_Name'].isin(berries)].groupby(['Resource_Name','Community_Name'])[
    'Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household',
    'Percapita_Pounds_Harvested'].sum(
    )[90:130]#.reset_index()#.to_excel('Berries by AK community 2015-18.xlsx', index=False)

<ipython-input-25-8d12c13aa003>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  veg[veg['Resource_Name'].isin(berries)].groupby(['Resource_Name','Community_Name'])[

                                  Reported_Pounds_Harvested  \
Resource_Name Community_Name
Blueberry     Tatitlek                              156.000
              Ugashik                                 0.000
              Utqiagvik (Barrow)                    114.300
              Wales                                  12.250
              Yakutat                               860.300
Cloud Berry   Akhiok                                 21.000
              Birch Creek                             0.000
              Buckland                             1311.500
              Central                                 0.750
              Circle                                  0.000
              Denali Park                             2.500
              Eagle                                   3.500
              Eagle Village                           0.000
              Ferry                                   4.000
              Fort Yukon                              0.000
              Healy                                  11.000
              Hoonah                                  0.500
              Hughes                                 22.000
              Kaltag                                131.125
              Klukwan                                 0.000
              Kotzebue                             1025.500
              Larsen Bay                              0.000
              Nenana                                 10.000
              Nikiski                                 0.500
              Northway                                6.500
              Nuiqsut                               172.000
              Old Harbor                             20.000
              Point Hope                           1629.300
              Rampart                                 0.000
              Shishmaref                           3181.000
              Stevens Village                         0.000
              Tanana                                  1.500
              Wales                                 251.250
Crowberry     Akhiok                                 20.000
              Anaktuvuk Pass                        126.300
              Anderson                                4.300
              Birch Creek                             0.000
              Buckland                             1092.000
              Central                                 1.750
              Chenega                                 6.000

                                  Estimated_Total_Pounds_Harvested  \
Resource_Name Community_Name
Blueberry     Tatitlek                                  210.600000
              Ugashik                                     0.000000
              Utqiagvik (Barrow)                        698.700000
              Wales                                      23.030000
              Yakutat                                  2044.200000
Cloud Berry   Akhiok                                     26.727272
              Birch Creek                                 0.000000
              Buckland                                 1865.654900
              Central                                     1.320000
              Circle                                      0.000000
              Denali Park                                 3.300000
              Eagle                                       4.224138
              Eagle Village                               0.000000
              Ferry                                       5.100000
              Fort Yukon                                  0.000000
              Healy                                      31.700000
              Hoonah                                      2.000000
              Hughes                                     28.800000
              Kaltag                                    163.906250
              Klukwan                                     0.000000
              Kotzebue                                 4052.700000
              Larsen Bay                                  0.000000
              Nenana                                     18.100000
              Nikiski                                     3.900000
              Northway                                    8.600000
              Nuiqsut                                   320.300000
              Old Harbor                                 44.666668
              Point Hope                               2784.000000
              Rampart                                     0.000000
              Shishmaref                               5239.300000
              Stevens Village                             0.000000
              Tanana                                      2.100000
              Wales                                     472.350000
Crowberry     Akhiok                                     25.454546
              Anaktuvuk Pass                            235.800000
              Anderson                                    6.700000
              Birch Creek                                 0.000000
              Buckland                                 1553.408400
              Central                                     3.080000
              Chenega                                     8.500000

                                  Mean_Pounds_Per_Household  \
Resource_Name Community_Name
Blueberry     Tatitlek                             7.800000
              Ugashik                              0.000000
              Utqiagvik (Barrow)                   0.400000
              Wales                                0.490000
              Yakutat                              8.500000
Cloud Berry   Akhiok                               1.909091
              Birch Creek                          0.000000
              Buckland                            18.471830
              Central                              0.030000
              Circle                               0.000000
              Denali Park                          0.000000
              Eagle                                0.060345
              Eagle Village                        0.000000
              Ferry                                0.300000
              Fort Yukon                           0.000000
              Healy                                0.100000
              Hoonah                               0.007692
              Hughes                               0.800000
              Kaltag                               2.731771
              Klukwan                              0.000000
              Kotzebue                             4.900000
              Larsen Bay                           0.000000
              Nenana                               0.100000
              Nikiski                              0.000000
              Northway                             0.100000
              Nuiqsut                              3.000000
              Old Harbor                           0.666667
              Point Hope                          15.800000
              Rampart                              0.000000
              Shishmaref                          37.400000
              Stevens Village                      0.000000
              Tanana                               0.000000
              Wales                               10.050000
Crowberry     Akhiok                               1.818182
              Anaktuvuk Pass                       2.400000
              Anderson                             0.100000
              Birch Creek                          0.000000
              Buckland                            15.380281
              Central                              0.070000
              Chenega                              0.500000

                                  Percapita_Pounds_Harvested
Resource_Name Community_Name
Blueberry     Tatitlek                              2.824139
              Ugashik                               0.000000
              Utqiagvik (Barrow)                    0.131473
              Wales                                 0.132708
              Yakutat                               3.454819
Cloud Berry   Akhiok                                0.552632
              Birch Creek                           0.000000
              Buckland                              3.175545
              Central                               0.016667
              Circle                                0.000000
              Denali Park                           0.019380
              Eagle                                 0.026316
              Eagle Village                         0.000000
              Ferry                                 0.125000
              Fort Yukon                            0.000000
              Healy                                 0.031519
              Hoonah                                0.002717
              Hughes                                0.318840
              Kaltag                                1.101891
              Klukwan                               0.000000
              Kotzebue                              1.358321
              Larsen Bay                            0.000000
              Nenana                                0.031056
              Nikiski                               0.000906
              Northway                              0.044521
              Nuiqsut                               0.771300
              Old Harbor                            0.219780
              Point Hope                            3.783339
              Rampart                               0.000000
              Shishmaref                            8.491883
              Stevens Village                       0.000000
              Tanana                                0.010135
              Wales                                 2.721875
Crowberry     Akhiok                                0.526316
              Anaktuvuk Pass                        0.742647
              Anderson                              0.036017
              Birch Creek                           0.000000
              Buckland                              2.644068
              Central                               0.038889
              Chenega                               0.240000

In [26]:
veg[veg['Resource_Name'].isin(berries)].groupby(['Resource_Name'])['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested'].sum()[:50]

<ipython-input-26-fe606259141c>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  veg[veg['Resource_Name'].isin(berries)].groupby(['Resource_Name'])['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested'].sum()[:50]

,Reported_Pounds_Harvested,Estimated_Total_Pounds_Harvested,Mean_Pounds_Per_Household,Percapita_Pounds_Harvested
Resource_Name,,,,
Bearberry,34.500,50.560563,0.425352,0.193269
Berries,69051.075,167776.596130,1086.643344,392.293288
Blueberry,21844.400,54141.168586,327.573286,123.386647
Cloud Berry,7805.425,15078.749228,96.427396,22.803623
Crowberry,7861.450,13846.306887,138.673661,43.850549
Currants,1134.200,3871.643448,15.245544,5.805942
Elderberry,210.500,811.600000,3.292308,1.243586
Gooseberry,75.000,188.864356,1.639604,0.575113
High Bush Cranberry,2707.200,6697.333833,52.540678,22.895112
Huckleberry,1027.300,3982.700000,15.923077,5.761689
Low Bush Cranberry,5246.775,13051.879646,88.252843,34.831376
Nagoonberry,1371.600,5575.161819,11.437898,4.209950
Other Wild Berry,77.400,153.278146,3.064546,1.198583
Salmonberry,14857.650,36341.606150,238.251972,86.241030
Soapberry,75.450,100.526923,2.919231,1.469725
Strawberry,1912.875,5629.428859,31.323864,13.424778
Thimbleberry,92.000,373.750000,1.437500,0.507812
Twisted Stalk Berry (Watermelon Berry),151.550,883.171429,1.222894,0.469211
Wild Rose Hips,731.325,2081.094903,13.983311,5.848957

In [27]:
Berries = veg[veg['Resource_Name']=='Berries'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

Blueberry = veg[veg['Resource_Name']=='Blueberry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

Cloudberry =veg[veg['Resource_Name']=='Cloud Berry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()
 
Lingonberry = veg[veg['Resource_Name']=='Low Bush Cranberry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

RoseHips = veg[veg['Resource_Name']=='Wild Rose Hips'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

Salmonberry = veg[veg['Resource_Name']=='Salmonberry'].groupby(['Community_Name'])[['Reported_Pounds_Harvested','Estimated_Total_Pounds_Harvested','Mean_Pounds_Per_Household','Percapita_Pounds_Harvested']].sum().reset_index()

In [28]:
BerryMapData = pd.DataFrame(Berries['Community_Name'])

In [29]:
BerryMapData.head()

   Community_Name
0          Akhiok
1  Anaktuvuk Pass
2        Anderson
3     Birch Creek
4        Buckland

In [30]:
BerryMapData = pd.merge(BerryMapData, Cloudberry[['Community_Name','Percapita_Pounds_Harvested']],
                        on= 'Community_Name',how='left')
BerryMapData = BerryMapData.rename(columns={'Percapita_Pounds_Harvested':'RUBCHA_PerCapita'})

BerryMapData = pd.merge(BerryMapData, RoseHips[['Community_Name','Percapita_Pounds_Harvested']],
                        on= 'Community_Name',how='left')
BerryMapData = BerryMapData.rename(columns={'Percapita_Pounds_Harvested':'ROSACI_PerCapita'})

BerryMapData = pd.merge(BerryMapData, Salmonberry[['Community_Name','Percapita_Pounds_Harvested']],
                        on= 'Community_Name',how='left')
BerryMapData = BerryMapData.rename(columns={'Percapita_Pounds_Harvested':'RUBSPE_PerCapita'})

In [31]:
BerryMapData.head()

   Community_Name  RUBCHA_PerCapita  ROSACI_PerCapita  RUBSPE_PerCapita
0          Akhiok          0.552632          0.526316          7.947374
1  Anaktuvuk Pass               NaN               NaN          1.097059
2        Anderson               NaN          0.254237               NaN
3     Birch Creek          0.000000          0.000000               NaN
4        Buckland          3.175545               NaN               NaN

In [32]:
BerryMapData['Berries_Percapita_Pounds_Harvested'] = Berries['Percapita_Pounds_Harvested'].copy()
BerryMapData['VACULI_Percent_of_Harvested'] = Blueberry['Percapita_Pounds_Harvested'].astype(float) / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float) * 100
BerryMapData['VACVIT_Percent_of_Harvested'] = Lingonberry['Percapita_Pounds_Harvested'].astype(float) / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)* 100
BerryMapData['RUBCHA_Percent_of_Harvested'] = BerryMapData['RUBCHA_PerCapita'].astype(float,errors = 'ignore') / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)*100
BerryMapData['ROSACI_Percent_of_Harvested'] = BerryMapData['ROSACI_PerCapita'].astype(float,errors = 'ignore') / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)*100
BerryMapData['RUBSPE_Percent_of_Harvested'] = BerryMapData['RUBSPE_PerCapita'].astype(float,errors = 'ignore') / BerryMapData['Berries_Percapita_Pounds_Harvested'].astype(float)*100

In [33]:
BerryMapData = BerryMapData.drop(columns=['RUBCHA_PerCapita','ROSACI_PerCapita','RUBSPE_PerCapita'])

In [34]:
BerryMapData

,Community_Name,Berries_Percapita_Pounds_Harvested,VACULI_Percent_of_Harvested,VACVIT_Percent_of_Harvested,RUBCHA_Percent_of_Harvested,ROSACI_Percent_of_Harvested,RUBSPE_Percent_of_Harvested
0,Akhiok,9.236849,0.000000,0.854701,5.982906,5.698006,86.039885
1,Anaktuvuk Pass,3.934717,39.228763,13.417511,NaN,NaN,27.881517
2,Anderson,3.912617,48.192638,26.966217,NaN,6.497884,NaN
3,Birch Creek,3.166667,0.000000,71.929821,0.000000,0.000000,NaN
4,Buckland,12.715497,39.312581,13.577074,24.973817,NaN,NaN
5,Central,12.216666,53.569809,16.325604,0.136426,7.579203,NaN
6,Chenega,14.301236,24.753081,8.111179,NaN,0.000000,31.404598
7,Circle,6.352941,56.790126,16.049384,0.000000,3.703704,NaN
8,Cold Bay,14.011110,11.895321,1.982554,NaN,NaN,42.069786
9,Cordova,9.554935,30.873061,8.778602,NaN,0.685260,33.259206
10,Denali Park,11.226124,52.800432,39.766739,0.172632,2.624001,1.657264
11,Eagle,4.854216,41.085143,15.760956,0.542123,6.679724,NaN
12,Eagle Village,1.902775,11.678832,0.000000,0.000000,1.459854,NaN
13,Egegik,2.385965,8.323529,47.794115,NaN,NaN,4.411765
14,Ferry,10.907440,23.349864,38.391187,1.146006,9.741047,NaN
15,Fort Yukon,2.518062,31.989497,38.188507,0.000000,18.741001,NaN
16,Healy,1.512894,56.439397,26.775569,2.083333,3.409091,0.000000
17,Hoonah,33.725990,36.955135,1.619509,0.008057,0.080573,16.824569
18,Hughes,1.731883,45.606694,10.041841,18.410041,0.836820,NaN
19,Kaltag,4.822479,49.226746,1.611849,22.849053,0.348508,NaN
20,King Cove,23.777508,11.731365,0.290175,NaN,NaN,50.255102
21,Klukwan,11.677083,62.801074,0.000000,0.000000,0.713649,3.746655
22,Kotzebue,4.731048,49.815863,13.443499,28.710791,NaN,NaN
23,Larsen Bay,11.080578,0.048004,0.000000,0.000000,0.768068,24.042915
24,Nanwalek,9.625930,41.601009,0.093171,NaN,0.698785,42.078515
25,Nenana,5.435915,52.431927,14.896895,0.571310,2.242390,0.000000
26,Nikiski,3.720193,36.875229,15.047139,0.024348,6.333920,7.943574
27,Northway,17.145550,62.718466,21.532009,0.259662,2.876261,NaN
28,Nuiqsut,0.982063,15.182648,4.908676,78.538814,NaN,NaN
29,Old Harbor,7.285716,3.619909,0.000000,3.016591,3.619909,72.699850
30,Pilot Point,4.484045,27.520759,37.485172,NaN,NaN,7.591934
31,Point Hope,4.877922,4.207895,1.494344,77.560478,NaN,NaN
32,Port Graham,15.831848,48.442557,0.493279,NaN,0.120312,39.841790
33,Port Heiden,21.934376,4.388089,5.698817,NaN,NaN,9.289073
34,Rampart,0.571429,83.333330,0.000000,0.000000,NaN,NaN
35,Sand Point,17.490427,8.326381,2.040415,NaN,0.085017,58.604544
36,Seldovia,21.450981,55.375575,1.551586,NaN,0.745214,27.022506
37,Shishmaref,10.993986,8.122343,0.833989,77.241166,NaN,NaN
38,Stevens Village,2.800000,71.428571,0.000000,0.000000,NaN,NaN
39,Tanana,5.144387,63.714157,13.396916,0.197013,0.131342,NaN
40,Tatitlek,7.088149,39.843110,1.945940,NaN,0.000000,45.015053
41,Ugashik,0.075000,0.000000,66.666667,NaN,NaN,0.000000
42,Utqiagvik (Barrow),0.530926,24.762937,5.201842,NaN,NaN,63.532918
43,Wales,4.401822,3.014850,3.401763,61.835179,0.000000,NaN
44,Yakutat,14.165345,24.389234,2.906012,NaN,NaN,33.273690