## Alaska Berry Futures
### Precipitation change over time

March 28, 2023    
Using SNAP precipitation models to investigate how wind speed my affect pollinator movements in AK's future    
http://data.snap.uaf.edu/data/Base/Other/Community_charts_tool_database/

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
working_directory = os.getcwd()

all_precip_data =  pd.read_csv(working_directory + "\\SNAP_Community_Climate_Charts_Data_20230313.csv", skiprows=4)

In [3]:
#all_precip_data[(all_precip_data['country']=="US")&(all_precip_data['type']=='Precipitation')].groupby(['community','latitude','longitude'
                                                                                                      #  ])['scenario'].nunique().index.tolist()

In [4]:
AK_precip = all_precip_data[(all_precip_data['country']=="US")&(all_precip_data['type']=='Precipitation')].copy()

In [5]:
AK_precip.head()

,id,community,region,country,latitude,longitude,type,scenario,resolution,unit,...,sepMax,octMin,octMean,octMax,novMin,novMean,novMax,decMin,decMean,decMax
441,AK1,Afognak,Alaska,US,58.0078,-152.768,Precipitation,prism,2km,mm,...,NaN,NaN,181.0,NaN,NaN,133.0,NaN,NaN,114.0,NaN
445,AK1,Afognak,Alaska,US,58.0078,-152.768,Precipitation,rcp45,2km,mm,...,NaN,NaN,196.0,NaN,NaN,134.0,NaN,NaN,130.0,NaN
446,AK1,Afognak,Alaska,US,58.0078,-152.768,Precipitation,rcp45,2km,mm,...,NaN,NaN,204.0,NaN,NaN,147.0,NaN,NaN,127.0,NaN
447,AK1,Afognak,Alaska,US,58.0078,-152.768,Precipitation,rcp45,2km,mm,...,NaN,NaN,214.0,NaN,NaN,172.0,NaN,NaN,132.0,NaN
451,AK1,Afognak,Alaska,US,58.0078,-152.768,Precipitation,rcp60,2km,mm,...,NaN,NaN,190.0,NaN,NaN,135.0,NaN,NaN,121.0,NaN

In [6]:
#!pip3 install geopandas

In [11]:
# import geopandas as gpd
# from shapely.geometry import Point

# # read in the shapefile containing the borough boundaries
# #alaska_boroughs = gpd.read_file(working_directory + '\\House_District_Boundaries\\House_District_Boundaries.shp')
# alaska_ecoregions = gpd.read_file(working_directory + '\\UnifiedEcoregionsAlaska2001\\akecoregions-ShapeFile\\akecoregions.shp')

# # create a pandas dataframe with the latitude and longitude coordinates
# # of the communities you are interested in
# # communities = pd.DataFrame({'Community': ['Anchorage', 'Juneau', 'Fairbanks'],
# #                             'Latitude': [61.2181, 58.3019, 64.8378],
# #                             'Longitude': [-149.9003, -134.4197, -147.7164]})

# communities = AK_precip[['community', 'latitude', 'longitude']]

# # convert the latitude and longitude coordinates to a Point object
# geometry = [Point(xy) for xy in zip(AK_precip.longitude, AK_precip.latitude)]
# communities = communities.drop(['longitude', 'latitude'], axis=1)
# crs = {'init': 'epsg:4326'}
# geo_df = gpd.GeoDataFrame(communities, crs=crs, geometry=geometry)

# # perform a spatial join to match each point to a borough
# joined = gpd.sjoin(geo_df, alaska_ecoregions, how='left', predicate='within')

C:\Users\LindseyParkinson\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
<ipython-input-11-fa75dfa1e58e>:23: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: None

  joined = gpd.sjoin(geo_df, alaska_ecoregions, how='left', predicate='within')

In [15]:
import geopandas as gpd

# Load the shapefile into a geopandas dataframe
alaska_ecoregions = gpd.read_file(working_directory + '\\UnifiedEcoregionsAlaska2001\\akecoregions-ShapeFile\\akecoregions.shp')

# Perform a spatial join between the two dataframes based on the latitude and longitude columns
communities = AK_precip[['community', 'latitude', 'longitude']]

# convert the latitude and longitude coordinates to a Point object
geometry = [Point(xy) for xy in zip(AK_precip.longitude, AK_precip.latitude)]
communities = communities.drop(['longitude', 'latitude'], axis=1)
crs = {'init': 'epsg:4326'}
geo_df = gpd.GeoDataFrame(communities, crs=crs, geometry=geometry)

joined_df = gpd.sjoin(geo_df, alaska_ecoregions, how="left", op="within")

# Extract the 'LEVEL_2' column from the joined dataframe and add it as a new column in dataframe1
communities['region_name'] = joined_df['LEVEL_2']

C:\Users\LindseyParkinson\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
<ipython-input-15-66da8710779b>:15: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: +init=epsg:4326 +type=crs
Right CRS: None

  joined_df = gpd.sjoin(geo_df, alaska_ecoregions, how="left", op="within")

In [21]:
alaska_ecoregions['geometry']

0     MULTIPOLYGON (((-362301.125 977298.500, -36242...
1     MULTIPOLYGON (((-137372.562 818885.625, -13742...
2     MULTIPOLYGON (((79841.891 1123803.500, 79775.4...
3     MULTIPOLYGON (((-1679889.750 510217.562, -1680...
4     MULTIPOLYGON (((1257281.000 795695.500, 125713...
5     MULTIPOLYGON (((140356.156 2279899.500, 140355...
6     MULTIPOLYGON (((-658950.125 1739182.250, -6588...
7     MULTIPOLYGON (((1054251.500 1179035.000, 10542...
8     MULTIPOLYGON (((-296212.812 953798.625, -29624...
9     MULTIPOLYGON (((-449916.250 2019647.000, -4498...
10    POLYGON ((534134.438 2228749.250, 534899.438 2...
11    MULTIPOLYGON (((503120.086 1221998.907, 502886...
12    MULTIPOLYGON (((202021.281 1243541.750, 201926...
13    POLYGON ((348329.250 1330755.375, 346003.594 1...
14    POLYGON ((595586.250 2144751.500, 596310.625 2...
15    MULTIPOLYGON (((244417.081 1106675.689, 244922...
16    POLYGON ((574721.688 1428529.625, 576642.375 1...
17    MULTIPOLYGON (((-277781.948 1866746.276, -2778...
18    MULTIPOLYGON (((65450.375 886780.625, 65481.00...
19    MULTIPOLYGON (((-527117.500 1865771.500, -5271...
20    POLYGON ((119456.883 1651337.750, 121580.703 1...
21    POLYGON ((-135134.719 1236126.625, -132246.516...
22    POLYGON ((651124.312 1983178.125, 651537.188 1...
23    MULTIPOLYGON (((-405695.260 1518443.057, -4083...
24    POLYGON ((-2185.649 1767343.375, -606.906 1768...
25    MULTIPOLYGON (((-442716.864 1820713.738, -4424...
26    POLYGON ((123426.156 1657671.750, 123538.656 1...
27    POLYGON ((543768.562 1438745.875, 545753.250 1...
28    POLYGON ((-196276.172 1798847.750, -196217.406...
29    MULTIPOLYGON (((-479978.312 1493598.000, -4800...
30    POLYGON ((254129.156 1894882.250, 254591.797 1...
31    POLYGON ((339228.656 1782399.000, 339228.656 1...
Name: geometry, dtype: geometry

In [17]:
joined_df

,community,geometry,index_right,COMMONER,COUNT,AREA,PERIMETER,LEVEL_1,LEVEL_2,ACRES,PERIM_MILE
441,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
76712,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76713,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76717,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76718,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76719,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
communities

      community                     geometry region_name
441     Afognak  POINT (-152.76800 58.00780)         NaN
445     Afognak  POINT (-152.76800 58.00780)         NaN
446     Afognak  POINT (-152.76800 58.00780)         NaN
447     Afognak  POINT (-152.76800 58.00780)         NaN
451     Afognak  POINT (-152.76800 58.00780)         NaN
...         ...                          ...         ...
76712   Yakutat  POINT (-139.72700 59.54690)         NaN
76713   Yakutat  POINT (-139.72700 59.54690)         NaN
76717   Yakutat  POINT (-139.72700 59.54690)         NaN
76718   Yakutat  POINT (-139.72700 59.54690)         NaN
76719   Yakutat  POINT (-139.72700 59.54690)         NaN

[4420 rows x 3 columns]

In [12]:
alaska_ecoregions

,COMMONER,COUNT,AREA,PERIMETER,LEVEL_1,LEVEL_2,ACRES,PERIM_MILE,geometry
0,Ahklun Mountains,10,9.305817e+10,1706352.125,Polar,Bering Taiga,9.565939e+06,1078.781,"MULTIPOLYGON (((-362301.125 977298.500, -36242..."
1,Alaska Peninsula,135,2.383992e+11,2825957.750,Maritime,Aleutian Meadows,1.574566e+07,4792.376,"MULTIPOLYGON (((-137372.562 818885.625, -13742..."
2,Alaska Range,4,1.044941e+11,3047326.250,Boreal,Alaska Range Transition,2.553444e+07,1949.715,"MULTIPOLYGON (((79841.891 1123803.500, 79775.4..."
3,Aleutian Islands,95,6.998703e+11,4048852.750,Maritime,Aleutian Meadows,2.929397e+06,3449.111,"MULTIPOLYGON (((-1679889.750 510217.562, -1680..."
4,Alexander Archipelago,254,1.053937e+11,2105160.250,Maritime,Coastal Rainforests,1.363418e+07,11462.119,"MULTIPOLYGON (((1257281.000 795695.500, 125713..."
5,Beaufort Coastal Plain,229,1.181827e+11,3215162.250,Polar,Arctic Tundra,1.586258e+07,4642.308,"MULTIPOLYGON (((140356.156 2279899.500, 140355..."
6,Bering Sea Islands,20,5.879878e+11,3620814.250,Polar,Bering Tundra,2.347545e+06,1053.730,"MULTIPOLYGON (((-658950.125 1739182.250, -6588..."
7,Boundary Ranges,11,4.282416e+10,1943789.125,Maritime,Coastal Rainforests,1.044821e+07,1708.584,"MULTIPOLYGON (((1054251.500 1179035.000, 10542..."
8,Bristol Bay Lowlands,4,5.947705e+10,1427117.875,Polar,Bering Taiga,7.903937e+06,1109.543,"MULTIPOLYGON (((-296212.812 953798.625, -29624..."
9,Brooks Foothills,9,1.433138e+11,3529535.000,Polar,Arctic Tundra,2.847448e+07,2229.352,"MULTIPOLYGON (((-449916.250 2019647.000, -4498..."
10,Brooks Range,1,1.561715e+11,4274384.000,Polar,Arctic Tundra,3.859082e+07,2655.974,"POLYGON ((534134.438 2228749.250, 534899.438 2..."
11,Chugach-St. Elias Mountains,17,9.438626e+09,919075.875,Maritime,Coastal Rainforests,2.301368e+07,3430.599,"MULTIPOLYGON (((503120.086 1221998.907, 502886..."
12,Cook Inlet Basin,12,3.804441e+10,1247613.250,Boreal,Alaska Range Transition,7.186358e+06,1213.824,"MULTIPOLYGON (((202021.281 1243541.750, 201926..."
13,Copper River Basin,1,1.913842e+10,1215565.000,Boreal,Pacific Mountains Transition,4.729208e+06,755.316,"POLYGON ((348329.250 1330755.375, 346003.594 1..."
14,Davidson Mountains,1,3.373351e+10,1439006.500,Boreal,Intermontane Boreal,8.335732e+06,894.155,"POLYGON ((595586.250 2144751.500, 596310.625 2..."
15,Gulf of Alaska Coast,250,9.902643e+10,3615488.750,Maritime,Coastal Rainforests,4.346191e+06,6639.083,"MULTIPOLYGON (((244417.081 1106675.689, 244922..."
16,Kluane Range,1,2.092400e+10,1374878.625,Boreal,Coast Mountains Transition,5.170434e+06,854.308,"POLYGON ((574721.688 1428529.625, 576642.375 1..."
17,Kobuk Ridges and Valleys,5,6.209015e+10,2001927.000,Boreal,Intermontane Boreal,1.362412e+07,1443.513,"MULTIPOLYGON (((-277781.948 1866746.276, -2778..."
18,Kodiak Island,50,4.396830e+10,860910.438,Maritime,Coastal Rainforests,3.145004e+06,2438.373,"MULTIPOLYGON (((65450.375 886780.625, 65481.00..."
19,Kotzebue Sound Lowlands,40,0.000000e+00,0.000,Polar,Bering Tundra,3.462948e+06,1807.938,"MULTIPOLYGON (((-527117.500 1865771.500, -5271..."
20,Kuskokwim Mountains,1,8.535914e+10,2705018.250,Boreal,Intermontane Boreal,2.109270e+07,1680.817,"POLYGON ((119456.883 1651337.750, 121580.703 1..."
21,Lime Hills,1,2.871516e+10,1054201.750,Boreal,Alaska Range Transition,7.095672e+06,655.049,"POLYGON ((-135134.719 1236126.625, -132246.516..."
22,North Ogilvie Mountains,1,5.216339e+10,1751568.625,Boreal,Intermontane Boreal,1.288986e+07,1088.372,"POLYGON ((651124.312 1983178.125, 651537.188 1..."
23,Nulato Hills,20,6.711335e+10,1870310.746,Polar,Bering Taiga,1.443353e+07,1609.210,"MULTIPOLYGON (((-405695.260 1518443.057, -4083..."
24,Ray Mountains,1,5.124269e+10,1850157.375,Boreal,Intermontane Boreal,1.266235e+07,1149.632,"POLYGON ((-2185.649 1767343.375, -606.906 1768..."
25,Seward Peninsula,14,2.128799e+10,574107.389,Polar,Bering Tundra,1.169955e+07,1187.425,"MULTIPOLYGON (((-442716.864 1820713.738, -4424..."
26,Tanana-Kuskokwim Lowlands,1,6.401527e+10,3322859.500,Boreal,Intermontane Boreal,1.581852e+07,2064.725,"POLYGON ((123426.156 1657671.750, 123538.656 1..."
27,Wrangell Mountains,1,1.431440e+10,474029.844,Boreal,Coast Mountains Transition,3.537165e+06,294.548,"POLYGON ((543768.562 1438745.875, 545753.250 1..."
28,Yukon River Lowlands,1,5.172976e+10,2765127.500,Boreal,Intermontane Boreal,1.278270e+07,1718.167,"POLYGON ((-196276.172 1798847.750, -196217.406..."
29,Yukon-Kuskokwim Delta,193,1.408386e+11,2402817.250,Polar,Bering Taiga,1.896504e+07,5008.200,"MULTIPOLYGON (((-479978.312 1493598.000, -4800..."
30,Yukon-Old Crow Basin,1,7.273598e+10,2497539.500,Boreal,Intermontane Boreal,1.797345e+07,1551.896,"POLYGON ((254129.156 1894882.250, 254591.797 1..."
31,Yukon-Tanana Uplands,1,1.024958e+11,2247565.000,Boreal,Intermontane Boreal,2.532727e+07,1396.569,"POLYGON ((339228.656 1782399.000, 339228.656 1..."

In [9]:
joined

,community,geometry,index_right,COMMONER,COUNT,AREA,PERIMETER,LEVEL_1,LEVEL_2,ACRES,PERIM_MILE
441,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,Afognak,POINT (-152.76800 58.00780),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
76712,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76713,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76717,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76718,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76719,Yakutat,POINT (-139.72700 59.54690),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
joined.groupby(['community','DistrictDe'])['community'].count()

community     DistrictDe
Afognak       Kodiak/Seward/Cordova                          10
Akhiok        Kodiak/Seward/Cordova                          10
Akiachak      Lower Kuskokwim                                10
Akiak         Lower Kuskokwim                                10
Akutan        Bristol Bay/Aleutians/Kuspuk                   10
                                                             ..
Wiseman       Copper River Basin/Delta/Tok/Yukon Drainage    10
Womens Bay    Kodiak/Seward/Cordova                          10
Woody Island  Kodiak/Seward/Cordova                          10
Wrangell      Ketchikan/Wrangell/Metlakatla                  10
Yakutat       Sitka/Petersburg/Yakutat                       10
Name: community, Length: 442, dtype: int64

In [ ]:
# # House District Boundaries
# Ecoregions = {
#     'Alaska Range Transition':['Kachemak Bay/Ninilchik/Kasilof',
#                               'Kenai/Soldotna',
#                               'Northern Kenai Peninsula',
#                               'South Anchorage/Turnagain Arm/Whittier'], 
#     'Aleutian Meadows':[],                     
#     'Bering Taiga':['Lower Kuskokwim'],                               
#     'Bering Tundra':[],                                         
#     'Coastal Rainforests':['Sitka/Petersburg/Yakutat',
#                            'Ketchikan/Wrangell/Metlakatla',
#                           'Downtown Juneau/Douglas/Junaeu Airport',
#                           'Mendenhall Valley/Haines/Skagway/Gustavus'],                 
#     'Copper River & Wrangell Mountains':[],      
#     'Intermontane Boreal':[],  
#     'North Slope':[]                
# }